<ion-content>
    <ngx-spinner bdOpacity=0.9 bdColor="#fcfcfc" size="medium" color="#f04141" type="ball-clip-rotate">
        <p style="color: black">Carregando...</p>
    </ngx-spinner>
    <ion-list>
        <ion-item button *ngFor="let hero of heroes?.listHeroes" (click)="heroDetail(hero?.id)">
            <ion-avatar slot="start" *ngIf="url !== null">
                <img src='{{url}}{{hero?.photo}}'>
            </ion-avatar>
            <ion-label>
                <h2>{{hero?.name}}</h2>
                <p *ngIf="hero?.authors.length === 1">Criado por: {{hero?.authors[0]?.name}}</p>
                <p *ngIf="hero?.authors.length === 2">Criado por: {{hero?.authors[0]?.name}} e
                    {{hero?.authors[1]?.name}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>