<ion-content>
    <ngx-spinner bdOpacity=0.9 bdColor="#fcfcfc" size="medium" color="#f04141" type="ball-clip-rotate">
        <p style="color: black">Carregando...</p>
    </ngx-spinner>
    <ion-list>
        <ion-item button *ngFor="let author of authors?.listAuthors" (click)="authorDetail(author?.id)">
            <ion-avatar slot="start">
                <img src='{{url}}{{author?.photo}}'>
            </ion-avatar>
            <ion-label>
                <h2>{{author?.name}}</h2>
                <p>Data de Nascimento: {{author?.birthdate}}</p>
                <p *ngIf="author?.deathdate !== ''">Data de Falecimento: {{author?.deathdate}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>